
    <h1>Create A Role</h1>
    <div class="form-container">
      <p class="title">Create role</p>
      <form class="form">
        <input type="email" class="input" placeholder="username" [(ngModel)]="username">
        <input type="text" class="input" placeholder="Name" [(ngModel)]="name">
        <input type="text" class="input" placeholder="role" [(ngModel)]="role">
        <input type="password" class="input" placeholder="Password" [(ngModel)]="password">
        <button class="form-btn" (click)="createRole()">Create Role</button>
      </form>
    
     
    </div>