<!-- <div class="container-fluid">
  <div class="hero">
    <form #loginform="ngForm" (ngSubmit)="login(loginform)">
      <div class="logo">BookShopping</div>
      <input
        type="email"
        name="email"
        id="email"
        required=""
        class="input"
        placeholder=" email address "
        [(ngModel)]="username"
        #emailmodel="ngModel"
        [ngClass]="
          emailmodel.invalid &&
          (emailmodel.dirty || emailmodel.touched)
            ? 'is-invalid '
            : ''
        "
      />
      <div
        *ngIf="emailmodel.invalid"
        class="invalid-feedback"
      >
        email must be 6 characters
      </div>
      

      <input
        type="password"
        name="password"
        id="password"
        required=""
        class="input"
        placeholder="Password"
        [(ngModel)]="password"
        minlength="3"
        #passwordmodel="ngModel"
        minlength="3"
        [ngClass]="
          passwordmodel.invalid &&
          (passwordmodel.dirty || passwordmodel.touched)
            ? 'is-invalid '
            : ''
        "
      />
      <div
        *ngIf="passwordmodel.invalid"
        class="invalid-feedback"
      >
        passowrd atleast 3 characters
      </div>

      
      <input type="submit" value="Log in" class="input submit" />
      <p class="signup">Don't have an account ? <a routerLink="/register">SignUp</a></p>
    </form>
  </div>
</div>


 -->
<div class="container-fluid">
  <div class="login-box">
   
    <p>Login</p>
    
  <div class="alert alert danger " style="background-color: red;"   *ngIf="error">
    <p style="color:white;">{{error}}</p>
  </div>
    <form #loginform="ngForm">
      <div class="user-box">
        <input
          required=""
          name=""
          type="email"
          [(ngModel)]="username"
          #emailmodel="ngModel"
          [ngModelOptions]="{ standalone: true }"
          [ngClass]="
            emailmodel.invalid && (emailmodel.dirty || emailmodel.touched)
              ? 'is-invalid '
              : ''
          "
        />
        <div *ngIf="emailmodel.invalid" class="invalid-feedback">
          email must be 6 characters
        </div>
        <label>Email</label>
      </div>
      <div class="user-box">
        <input
          required=""
          name=""
          type="password"
          [(ngModel)]="password"
          minlength="3"
          #passwordmodel="ngModel"
          minlength="3"
          [ngModelOptions]="{ standalone: true }"
          [ngClass]="
            passwordmodel.invalid &&
            (passwordmodel.dirty || passwordmodel.touched)
              ? 'is-invalid '
              : ''
          "
        />
        <div *ngIf="passwordmodel.invalid" class="invalid-feedback">
          passowrd atleast 3 characters
        </div>

        <label>Password</label>
      </div>

      <a href="#" type="submit" (click)="login(loginform)">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </a>
    </form>
    <p>
      Don't have an account? <a routerLink="/register" class="a2">Sign up!</a>
    </p>

  </div>
  <div *ngIf="loginSuccess" class="success-feedback">
    
  
  </div>
  <div *ngIf="loginError" class="invalid-feedback">
    Invalid login credentials.
  </div>
</div>
